/*
font-family: 'Abril Fatface', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
*/

header{
  background-color: rgb(11, 0, 210);
  background-image: url(images/imagesbg.jpg);
  min-height: 65vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.header-content{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3em;
  text-align: center;
}

.header-content h1 {
  font-size: 3em;
  font-family: serif;
  color: rgb(255, 255, 255);
}
.header-content h2 {
  font-size: 2em;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}
.header-content p{
  color: rgb(255, 255, 255);
}
#comp-section-content{
  background-color: rgb(11, 0, 210);
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 33px;
    font-weight: 900;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
      margin-bottom: 100px;
        margin-top: 33px;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}



p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.70;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
}

.comp-section-content {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}

.comp-content {
  max-width: 320px;
  margin: 1em;
}
.portfolio-content{

  background-color: rgba(5, 5, 5, 0.1);
  color: #000;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
.portfolio-content-item {
  max-width: 640px;
  margin: 0.4em;
}

footer{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top:100px;

}

.char1 {
color: red;
}
.char3{
color: red;
}
.char5 {
color: red;
}
.char7 {
color: red;
}
.char9 {
color: red;
}
.char11 {
color: red;
}
.char13 {
color: red;
}
